
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 219, 219) ;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}
img{
    width: 50vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    
}

.button{
    border: none;
    width: 50vw;
    height: 10vh;
    background: linear-gradient(green, yellow);
    font-size: 3vh;
    
}